.form {
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: 100px;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	padding: 100px 50px;
}
.swap {
	width: 30px;
	height: 20px;
	background: none;
	border: none;
	cursor: pointer;
}